<%= render 'layouts/navbar' %>
<h1>Enter Record</h1>

<%= simple_form_for @test_idp do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :age %>
  <%= f.input :sex %>

<% end %>

<div>
  First Name: <%= @first_name %>
</div>

<form action="<%= create_record_url %>" method="post">
  <%= authenticity_token %>
  
  First Name
  <input type="text" name="idp[first_name]"></input>

  <p><input type="submit" value="Submit"></p>
</form>
